includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5

    paths:
        - app
        - routes
        - tests
        - database

    excludePaths:
        - vendor
        - storage
        - bootstrap/cache

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
